# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environment
venv/
env/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dataset (keep it local, don’t push to GitHub)
*.csv

# IDE settings
.vscode/
.idea/
*.swp
